.container {
  display: flex;
  flex-direction: column;
  background: #777;
  width: 200px;
  height: 100px;
  line-height: 2em;
  margin-top: 5px;
}

i {
  font-size: 3.5em;
  transition: color 0.1s;
  cursor: pointer;
}

i:hover {
  color: #1f8fa3;
}

.link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 1.2em;
}

.link:hover {
  background: #999;
  color: #325da8;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
